#NavBar ul {
    display: flex;
    list-style-type: none;
    margin: 0.5em 0 0.5em 0;
}

#NavBar ul li a {
    display: block;
    text-decoration: none;
    color:white;
}

#NavBar ul li a:hover {
    color: black;
}

#NavBar ul li a:active {
    color: black;
}