#mainPage {
  display: flex;
  padding: 1em;
  width: 100%;
  background-color: #1E1E1E;
  justify-content: space-between;
}

#LeftPart {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 35%;
}

#RightPart {
  margin: 3em 2em 2em 3em;
  width: 60%;
}